
.onav ul, .onav li, .onav li a {border:0;display:block;position:relative}
.onav:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}

.onav {z-index:10;}
.onav > li {float:left}
.onav > li > a {padding:15px; text-transform:uppercase;}
.onav ul{position:absolute;left:-9999px;  line-height:1.2; width:240px;z-index:10;background:#fff; -moz-box-shadow:0 1px 1px rgba(0,0,0,.2);box-shadow:0 1px 1px rgba(0,0,0,.2);}
.onav ul li{height:0; border-bottom:1px dotted #ccc;}
.onav ul li:last-child {border-bottom:0}
.onav ul li a{padding:10px 15px; color:#333;}
.onav ul ul{margin-left:100%;top:0}
.onav ul ul li {border-left:1px dotted #ccc;}

.onav li:hover > ul{left:auto}
.onav li:hover > ul > li{height:40px}
.onav > li:hover > a, .onav li.active > a, .onav ul li:hover > a,
.onav > li:hover, .onav li.active{ color:#114776; background:#fea713; -webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}
.onav > li.has-sub > a {padding-right:30px}

.onav li.has-sub > a:after, .onav li.has-sub > a:before {content:'';background:#fff; position:absolute; top:50%; display:block; -webkit-transform:translate(-50%, -50%); -ms-transition:translate(-50%, -50%); transform:translate(-50%, -50%);}
.onav li.has-sub > a:after{right:10px;width:8px;height:2px;}
.onav li.has-sub > a:before{right:16px;height:8px;width:2px;}
.onav > li.has-sub:hover > a:before, .onav ul > li.has-sub:hover > a:before{top:32px;height:0}

.menu-right { text-align:right;}
.menu-right > li {display:inline-block !important; float:none !important; margin-left:-4px;}
.menu-right li:hover > ul{left:auto; right:0;}
.menu-right ul ul{margin-left:0;margin-right:100%;}
.menu-right ul ul li {border-left:none !important; border-right:1px dotted #ccc !important;}
.menu-right ul li.has-sub > a:after, .menu-right ul li.has-sub > a:before {left:16px}

/*.onav-sticky {width: 100%;height:0;}
.sticked {position: fixed; top:0; left:0; right:0;z-index:10; -moz-box-shadow:0 1px 2px #d9dadb;box-shadow:0 1px 2px #d9dadb;}*/

/*==========================================================================*/


/*@import url("http://fonts.googleapis.com/css?family=Roboto:500,700&subset=latin,vietnamese");*/
body {min-width:1280px; font-size:16px;}
.container {width: 1280px;position: relative;background: #fff;margin-right: auto;margin-left: auto;}
.row {margin-right: -15px;margin-left: -15px;}

.btn {font-size:17px;border-radius:0;}

#About ul li:before { border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; }
.menu-tin a, #About .ctn a {border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}

#top { font-size:20px; background:#1f365c; line-height:28px; color:#f4f4f4;}
#top .container {background:#1f365c;}
#top .address {position:absolute; left:4px;top:0; padding-left:30px; line-height:40px; background:url(../images/bg/bg-local.png) no-repeat left center;}

.onav ul li a {font-size:17px;}
#top .menu-right li a {color:#fff; font-weight:normal;}
#top .menu-right > li > a { padding:6px 15px; text-transform:none;}
#top .menu-right ul {background:#1f365c;}

#header .logo {display:inline-block;}
#header .clsTel { position:absolute; bottom:30px; right:0; font-size:40px; text-transform:uppercase; padding-left:50px; background:url(../images/bg/bg-call.png) no-repeat left center;}
#header .clsTel span { color:#fea713}

#oMenu {border-top:2px solid #e7e7e7; background:#fff;}
#oMenu .onav > li > a {font-size:22px;}
#oMenu .onav > li:first-child > a {padding-left:0;}
#oMenu .onav > li > a > img {margin-right: 5px;max-height: 18px;filter: gray;filter: grayscale(1);-webkit-filter: gray;}
#oMenu .onav > li:hover > a, #oMenu .onav li.active > a, #oMenu .onav ul li:hover > a, #oMenu .onav > li:hover, #oMenu .onav li.active {background:none !important;}
#oMenu .onav > li:hover span, #oMenu .onav li.active span {border-bottom: 2px solid #ffb536 !important;}
#oMenu .active img, #oMenu li:hover img {filter: none !important;-webkit-filter: grayscale(0) !important;}

/* search */
.boxsearch {position:absolute !important; top:13px; right:0; background:none !important;}
.pnlSear { height:30px;font-size:15px; position:relative; border:1px solid #acacac; background:#fff; overflow:hidden; border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; }
.pnlSear input { width:230px; border:none; outline:none; float:right; height:100%; padding:0 40px 0 10px;}
.btnsearch { display:block; position:absolute; width:34px !important; height:100%; right:0; background:url(../images/bg/bg-sear1.png) no-repeat center; border-radius:0}
.btnsearch:hover { background:url(../images/bg/bg-sear1.png) no-repeat center #fea713;}

.slide-wrap, .media {position:relative; overflow:hidden; height:580px;border-top: 4px solid #555;}
.slide_item:before {content: '';position: absolute;z-index:2;left:-120px;top:0;width:640px;height: 640px;background:#1f365c;-webkit-transform:skewX(159deg);-ms-transform:skewX(159deg);transform:skewX(159deg);}
.slide_item {position: relative;z-index:3; height:100%; color: #fff; line-height:35px; font-size:24px;}
.slide-caption {position: absolute;z-index:3; max-width:500px; top: 50%;left:21%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.slide-caption_title { font-size:40px; text-transform:uppercase; line-height:1.1;}
.slide-caption_title strong { display:inline-block; border-bottom:3px solid #fea713; padding-bottom:10px;}
.slide-wrap .owl-item.active .slide-caption_title{-webkit-animation: 1s .2s rotateInDownLeft both;animation: 1s .2s rotateInDownLeft both;}
.slide-wrap .owl-item.active .slide-caption_desc{-webkit-animation: 1s .6s fadeInUp both;animation: 1s .6s fadeInUp both;}
.slide-wrap .owl-item.active .btn {-webkit-animation: 1s 1s flipInX both;animation: 1s 1s flipInX both;}
.slide-wrap .owl-item.active.current .media { border-color: #fff;}

#sync1 .owl-item img { width:100%; height:580px;}


.carousel-tabs {position:absolute; right:17%; bottom:20px; width:640px;}
.media { height:120px; padding:5px;border:1px solid #1f365c ; max-width:200px; overflow:hidden;}/*background:rgba(254, 167, 19, 0.25);*/
.media .tit0 {position:absolute; top:30px; left:15px; z-index:2; color:#fff; font-size:20px;}
.media img {height:100%; }

#owl-Uti .item {position:relative;}
#owl-Uti .item p {display:inline;}
#owl-Uti .item span {vertical-align:middle; display: table-cell; background:#fea713;height:70px; width:70px;}
#owl-Uti .item img {height:auto; width:auto; display:inline;}
#owl-Uti .item .tit3 {font-size:22px; color:#1f365c; text-transform:uppercase;}


.box-dang-ky {background:#1f365c; color:#fff; padding:50px 0;position:relative; height:350px; overflow:hidden;}
.box-dang-ky .tit10 {font-size:40px; color:#fea713;}
.box-dang-ky .tit9 { font-size:70px; line-height:100px; margin-top:30px;}
.box-dang-ky a { padding:10px 15px; font-size:24px;}

#sync1:hover .owl-nav {opacity:1;}
#sync1 .owl-nav {opacity: 0; display:block;}
#sync1 .owl-nav .disabled{opacity:.5;cursor:pointer;}
#sync1 .owl-next, #sync1 .owl-prev { display: block;position: absolute;top: 50%; margin-top:-30px; width: 30px;height: 60px;cursor: pointer;background: url(../js/Owlcarousel/a11.png) no-repeat;overflow: hidden;text-indent:9999px;}
#sync1 .owl-next { background-position:3px 0; left: 8px;}
#sync1 .owl-prev { background-position:-83px 0; right: 8px;}
.owl-dots { text-align:center;position: absolute;width: 100%;bottom:10px;}
.owl-dots .owl-dot{ display:inline-block;zoom:1}
.owl-dots .owl-dot span { width:12px;height:12px;margin:5px;background:#fff;display: block;-webkit-backface-visibility: visible;transition: opacity .2s ease;border-radius: 30px;}
.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span{ background:#1f365c !important;}
.owl-nav { display:none;}

.carousel-one p { font-size:13px; line-height:22px;}
.carousel-one .item a { display:block; width:100%; height:230px; overflow:hidden;}
.carousel-one .item img { min-width:100%; height:100%;}
.carousel-one1 .owl-nav,
.carousel-4 .owl-nav { display:block;}
.carousel-one1 .owl-prev, .carousel-one1 .owl-next,
.carousel-4 .owl-next, .carousel-4 .owl-prev { display: block;position: absolute;top: 50%; margin-top:-50px; width:24px;height:60px;cursor:pointer;background: url(../js/Owlcarousel/a1b.png) no-repeat;overflow: hidden;text-indent:9999px;}

#chuyen-gia .PicN { width:180px; height:180px; overflow:hidden;margin:0 auto;}
#chuyen-gia .item {background:#fff; padding:20px; height:440px; position:relative;}
#chuyen-gia .PicN img { height:100%;}
#chuyen-gia .frbtb {color:#1f365c;}
#chuyen-gia .cg-tel {position:absolute; bottom:30px; left:0; right:0; margin:0 auto;}

.carousel-4 .PicN img {height:100%;}
.carousel-4 .owl-prev { background-position:0; left:-30px;}
.carousel-4 .owl-next { background-position:-54px 0; right:-30px;}
.carousel-one1 .owl-prev { background-position:0; left:0;}
.carousel-one1 .owl-next { background-position:-54px 0; right:0;}

.tags {font-size:13px; background:url(../images/bg/tags.gif)no-repeat 0 0; padding-left:45px;}
.tags a {display:inline-block; padding:5px 10px; background:#fea713; color:#fff; margin:0 5px 5px 0;}
.tags a:hover {background:#1f365c;}

.titH1, .titH2 { font-size:40px; line-height:60px; color:#1f365c; text-transform:uppercase; margin:0 0 30px; padding:20px 0; position:relative;}
.titH1 { font-size:20px; line-height:28px; padding-bottom:10px;}
.titH1 strong { border-bottom:3px solid #fea713; display:inline-block;}
.titH2 > strong {display:inline-block;position:relative;}
.titH2 > strong:after,.tit13:after, .bdt:before,
.titH2b:after { content: ""; display:block; width:200px; position:absolute; left:0; right:0; bottom:10px; margin:0 auto; height:4px; z-index:2; background-color:#ffb536;}
.titH2 > strong:after { max-width:200px;width:auto !important; bottom:-10px;}
.tit13:after {width:100px;bottom:-6px; margin-left:0; height:3px;}
.bdt {padding-top:15px;}
.bdt:before {top:0; bottom:auto; width:60px;}

.max900 { max-width:900px; margin:0 auto;}
.max800 { max-width:800px; margin:0 auto;}

.titH3 { margin:10px 0; font-size:18px;position:relative; line-height:20px; color:#333;}
.titH3 a{display:inline-block; height:40px; overflow:hidden;}/* max-height:50px;*/
.titH3 a:hover {color:#fea713}

#About { padding:30px 0; color:#fff; background:#f5f5f5; color:#555;}
#About .container {background:#f5f5f5;}
#About img {width:100%;}
#About ul li {padding:0 0 20px 50px; position:relative;}
#About ul li:last-child {padding-bottom:0 !important;}
#About ul li:before{content:""; height:34px;width:34px;background:#fea713;position:absolute; left:0;top:5px;}
/*#About .titH2 { font-size:45px;}*/
#About ul li h3 { margin:0 0 5px;}
#About ul li p {height:80px; overflow:hidden;}
.titH3d {font-size:25px;line-height:50px;}

#Why { background:#f6f6f6; padding:20px 0; font-size:16px;}
#Why .container {background:#f6f6f6;}
#Why .container .row {overflow:hidden; margin-left:0; margin-right:0;}
#Why .container .col-md-6 {padding-right:50px; padding-left:50px;}
#Why p {position:relative; padding-left:40px; margin-bottom:30px;}
#Why p span {display:block; position:absolute;left:0; top:50%; margin-top:-12px; width:26px; height:26px; line-height:24px; color:#fea713; border:1px solid #fea713; text-align:center;}
#Why .titH3 {font-size:28px; margin-bottom:40px;}

/*#NewH .col-md-3 {width:30%;}
#NewH .col-md-9 {width:70%;}
#NewH .boxNH {height:440px;overflow:hidden;}
#NewH .carousel-one1 .boxNH {background:#ebebeb; padding:15px; height:440px; overflow:hidden;}
#NewH .carousel-one1 .boxNH .PicN { height:160px; overflow:hidden;}
#NewH .boxNH img { width:100%;}*/

.listBS a, .lsitImg a, .PicN a,
.PicN { display:block; position:relative;height:188px; overflow:hidden;}

.TimeN { font-size:13px; color:#fea713; font-style:italic; line-height:25px; padding-top:10px;}
.NDN {line-height:20px; height:60px; overflow:hidden; color:#555; text-align:justify}

.boxKH { background:#1f365c; color:#fff; height:550px; overflow:hidden;}
.boxKH .container {background:#1f365c;}
.boxKH2 {color:#9e9e9e !important; background:#fff !important;}
.boxKH2 .container {background:#FFF !important;}
.boxKH2 .titH2 span {color:#333;}

.boxKH .item {padding:30px 0;}
.boxKH .ctnKH { padding:20px;font-size:20px; line-height:30px; max-width:840px; margin:0 auto; }
.ctnKH .titH2 {color:#fea713; font-size:28px; margin-bottom:0;}


#Footer { padding-top:30px; background:#1f365c; color:#fff; line-height:24px; position:relative;}
#Footer .container {background:#1f365c;}
#Footer .boxF { padding:15px; background:#14233c;}
.footop .tit13, #Footer .boxF .tit11 {font-size:20px;line-height:30px; margin-bottom:15px; color:#fff; text-transform:uppercase; position:relative;}
#Footer .boxF .tit12 {font-size:28px; margin:10px 0 15px; color:#fea713;}
#Footer .boxF a:hover {color:#fff !important;}

#Footer p { margin:0; line-height:22px;}
.footop h3 { margin-top:0;}
.footop h3:after {content:""; display:block;width:100px;position:absolute;left:0;right:0;bottom:-5px;height:2px;z-index: 2;background-color: #ffb536;}
.footop a {color:#fff;}
.footop .ctn2 { background:#14233c;}
.footop .ctn2:hover,.footop .ctn2:focus {background:#fea713;}
.col-fo-1 {width:350px; line-height:34px;}
.footop .nav li ul a:hover, .footop a:hover {color:#fea713 !important;}
.footop .nav > li {padding-right:50px; margin-bottom:15px; float:left; position:relative; display:block;}
.footop .nav > li:last-child {padding-right:0;}

.footop ul { margin:0;}
.footop .navbar-nav {min-height:250px;}
.footop ul li { padding:0; line-height:30px;}
.footop ul li img{ filter:#fff; filter: grayscale(1); -webkit-filter:#fff;}
.footop ul li:hover img { filter:none !important; -webkit-filter:grayscale(0) !important;}

#copy { padding:15px 0; color:#fff; font-size:20px; line-height:30px; border-top:1px solid #2f4f84; margin-top:15px; color:#fea713;}

/*==========================================
Request ID <> ""
============================================*/
.content-post { width:100%;}
.SerInfo h1,
.title-post .title { margin: 0 0 10px; font-size:23px; color:#1f365c; line-height:30px; padding: 7px 0;}

.main-top .titH1 { color:#fff; font-size:48px; line-height:80px;}
.main-top p {font-size:22px;}
.pnlNews {background:#fff; position:relative;}

#pnlServerDt .col-xs-9 {width:860px !important}
#pnlServerDt .col-xs-3 {width:400px !important; float:right;}

.main-top {position:relative; height:450px;}
.main-img {width:100%;height:100%; overflow:hidden;}
.main-img img {min-width:100%; height:100%;}

.main-top .container {position:absolute; background:none; top:20px; left:0; right:0; margin:0 auto; color:#fff;z-index:2;}
.boxContact {padding:20px; float:right; width:420px; margin-right:0; background:rgba(255,255,255,0.5);}
.boxContact .titH2 {padding:0; margin-bottom:15px;font-size: 30px; line-height: 40px;}
.boxContact .form-group {margin-bottom:10px; position:relative;}

/*.menu-tin a { margin-right:30px;}*/
.menu-tin .ac2 , .menu-tin a:focus,
.menu-tin a:hover { background:#1f365c; border-color:#1f365c; color:#fea713;}


.col3 { width:370px; height:395px; overflow:hidden; float:left; margin-right:85px;}
.col3 .PicN {height:246px;}
.col3:nth-child(3n) {margin-right:0 !important;}
.boxNH img { width:100%;}

.dshd {border: solid 1px #ddd;background: #f2f2f2 url(../images/bg/sh.gif) no-repeat center;background-position:95%; height: 70px;padding:15px 10px 0px 15px;position:relative;}
.dshd .btn-success {width:240px; height:45px;background:none; top:10px;right:3%; position:absolute;}
.modal-header .titH2 {font-size:30px; line-height:40px;}

.mbr-arrow-up{ bottom:30px; right:80px; width:50px; height:50px; position:fixed;z-index:5000; background:url(../images/icon/icon-top.png)no-repeat center,rgba(0,0,0,0.2);cursor:pointer;}
.mbr-arrow-up:hover{background-color:rgba(0,0,0,0.75)}

.titH4b {font-size:18px; font-weight:bold;}
/*.phobien {height:300px; width:100%; overflow-y:auto; overflow-x:hidden}*/
.phobien {width:100%; overflow:hidden}
.box-item {border-bottom:1px solid #f6f6f6;}
.box-item a {font-size:16px;}
.box-item:last-child {border-bottom:none;}
.box-item .Pic-1 {display:block; float:left; width:80px;margin-right:15px; position:relative;}
.box-item .Pic-1 img  {width:100%;}

.drank {border-bottom:2px solid #e7e7e7; position:relative;}
.drank:before {content:""; display:block; position:absolute; width:150px; height:2px; background:#fea713; bottom:-2px;}

@media (min-width: 640px) {
    .col-xs-9 { width:860px;}
    .col-xs-3 {width:420px; padding-left:40px;}
}

